@import "tailwindcss";

/* DatePicker Dark */
.dark-calendar {
  background-color: #000 !important;
  border: 1px solid #333 !important;
  border-radius: 0.5rem !important;
  color: #fff !important;
}

.dark-calendar .react-datepicker__header {
  background-color: #111 !important;
  border-bottom: 1px solid #333 !important;
  color: #fff !important;
}

.dark-calendar .react-datepicker__day,
.dark-calendar .react-datepicker__month-text,
.dark-calendar .react-datepicker__year-text {
  color: #fff !important;
}

.dark-calendar .react-datepicker__day:hover,
.dark-calendar .react-datepicker__month-text:hover,
.dark-calendar .react-datepicker__year-text:hover {
  background-color: #333 !important;
  border-radius: 0.25rem;
}

.dark-calendar .react-datepicker__day--selected,
.dark-calendar .react-datepicker__month-text--selected,
.dark-calendar .react-datepicker__year-text--selected {
  background-color: #2563eb !important;
  color: #fff !important;
  border-radius: 0.25rem;
}
.dark-calendar .react-datepicker__current-month,
.dark-calendar .react-datepicker-time__header,
.dark-calendar .react-datepicker-year-header {
  color: #fff !important; /* deixa branco */
}